# --- Python ---
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# --- Django ---
*.log
local_settings.py        # конфиденциальное, если есть
db.sqlite3               # если не используется — можно удалить
media/                   # НЕ трогать, если локально хранятся файлы
staticfiles/             # создаётся collectstatic

# .env-файлы с ключами/настройками
.env
.env.*

# --- Пакетирование ---
*.egg-info/
*.egg
dist/
build/
develop-eggs/
.eggs/
lib/
lib64/
parts/
sdist/
wheels/
pip-wheel-metadata/
share/python-wheels/
.installed.cfg
MANIFEST

# --- Coverage / Тесты ---
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
*,cover
.pytest_cache/
nosetests.xml
coverage.xml
.hypothesis/

# --- IDE ---
.vscode/
.idea/
*.suo
*.user
*.userosscache
*.sln
*.sw?

# --- Операционные системы ---
.DS_Store
Thumbs.db

# --- Виртуальные окружения ---
.venv/
venv/
ENV/
env/
env.bak/
venv.bak/

# --- Прочее ---
*.bak
*~
